.center {
    text-align: center;
}

.parentdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .left {
        border: solid red 1px;
        border-radius: 15px;
        padding: 10px;
    }
    .right {
        border: dashed red 1px;
        border-radius: 15px;
        padding: 10px;
        ul {
            list-style-type:upper-roman;
        }
    }
}

.childdiv {
    width: 45%;
    height: fit-content;
}

.hundred {
    width: 100%;
    margin-top: 60%;
}
.lastdiv {
    float: right;
    margin-bottom: 20px;
}

h3 {
    font-weight: 500;
}

ol, ul {
    font-weight: 300;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}